[Desktop Entry]
Name=PRepS
Comment=Simple problem reporting system
Comment[pl]=System zgłaszania prostych problemów
Exec=preps
Icon=/usr/share/preps/LadyBug.xpm
Terminal=false
Type=Applications
Encoding=UTF-8
# vi: encoding=utf-8
